@import url(//cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css);

@font-face {
  font-family: 'vgasys';
  src: url('vgasys.otf');
}

body {
  font-family: 'vgasys', monospace;
  font-size: 12pt;
  background: #000066;
}

main {
  background: #FFFFFF;
  width: 320px;
  height: 120px;
  margin: 240px auto;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ol {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
}

h1 {
  font-size: 2em;
}
