/* A font by The League of Movable Type http://www.theleagueofmoveabletype.com/fonts/5-blackout */
@font-face {
	font-family: 'Blackout Midnight';
	src: url('../type/Blackout-Midnight.ttf') format('truetype');
	}
/* A font by The League of Movable Type http://www.theleagueofmoveabletype.com/fonts/1-junction */
@font-face {
	font-family: 'Junction 02';
	src: url('../type/Junction02.otf') format('opentype');
	}

body {
	background: #fff fixed repeat -20px -20px;
	font-family: Helvetica, Sans-Serif;
	font-size: 16px;
	overflow: hidden;
	}

a {
	color: #33f;
	text-decoration: underline;
	}
a:hover {
	text-decoration: none;
	background-color: #33f;
	color: #fff;
	}
a:active {
	background-color: #f33;
	}

.box {
	display: block;
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.7);
	border: 2px solid #3a3a3a;
	box-shadow: 5px 5px 10px #222;
	-moz-box-shadow: 5px 5px 10px #222;
	-webkit-box-shadow: 5px 5px 10px #222;
	}
#card {
	width: 500px;
	margin: 50px;
	padding: 10px;
	}
#card:after {
	content: '.';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	zoom: 1;
	}
	#card #me {
		display: block;
		height: 120px;
		}
		#me #hello {
			float: left;
			text-align: right;
			width: 390px;
			}
			#hello h1 {
				font-family: 'Blackout Midnight', arial, helvetica, sans-serif;
				font-size: 2.75em;
				margin-bottom: 5px;
				color: #000;
				}
				#hello h1 a {
					color: #000;
					text-decoration: none;
					}
				#hello h1 a:hover {
					color: #fff;
					background-color: #000;
					}
			#hello h2 {
				font-family: 'Junction 02', arial, helvetica, sans-serif;
				font-size: 1.5em;
				letter-spacing: -0.05em;
				}
		#me img {
			float: right;
			width: 80px;
			}
	#card .foot {
		float: left;
		width: 125px;
		padding: 5px 0 5px 50px;
		margin-right: 10px;
		background: #f8f8f8 no-repeat 0 0;
		background-color: rgba(248, 248, 248, 0.75);
		font-size: 0.85em;
		line-height: 1.2em;
		border-radius: 10px 10px 0;
		-moz-border-radius: 10px 10px 0;
		-webkit-border-radius: 10px 10px 0;
		}
	#card .foot:hover {
		background-color: rgb(220, 220, 220);
		}
	#card #resume {
		background-image: url('../images/icon_linkedin.png');
		background-position: -5px -5px;
		width: 85px;
		height: 33px;
		padding-right: 5px;
		}
	#card #links {
		background-image: url('../images/icon_link.png');
		background-position: -10px -5px;
		padding-left: 40px;
			}
	#card #contact {
		background-image: url('../images/icon_contact.png');
		background-position: -5px -10px;
		margin-right: 0;
		}
		#contact .tel {
			font-size: 0.9em;
			}
			#contact .tel a {
				text-decoration: inherit;
				color: inherit;
				cursor: default;
				}
			#contact .tel a:hover {
				color: inherit;
				background-color: transparent;
				}

#bg_credit {
	display: inline;
	font-size: 0.75em;
	padding: 5px 10px;
	margin: 0;
	position: absolute;
	bottom: 10px;
	right: 10px;
	text-align: right;
	line-height: 1.5em;
	}
	#bg_credit var {
		font-style: italic;
		}
